# Python
__pycache__/
*.pyc
*.pyo
.venv/
venv/

# Node
node_modules/
dist/
build/

# IDE
.vscode/
.idea/

# Env
.env
.env.dev
.env.qa
.env.prd
*.pem
*.key
**/secrets.*

# --- Excepción: permitir .env dentro de APP/volumes ---
!APP/
!APP/volumes/
!APP/volumes/**/
!APP/volumes/**/.env

# Data runtime
APP/data/*_data/
APP/data/mariadb_data/
APP/data/minio_data/
APP/data/redis_data/

# Certs local
APP/data/settings/nginx/certs/

# Logs
*.log

# OS
.DS_Store
Thumbs.db

#temp json AI Response
APP/volumes/backend/app/assets/temp/*