@import "tailwindcss";

@custom-variant dark (&:where(.dark, .dark *));

@import "tailwindcss";

@theme {
  --color-primary-50:  #eff6ff;
  --color-primary-700: #1d4ed8;
  --color-primary-900: #1e3a8a;

  --color-warm-50:  #fefcfb;
  --color-warm-700: #d4772b;
  --color-warm-900: #9a5419;

  --color-info-50:  #ecfeff;
  --color-info-700: #0e7490;
  --color-info-900: #164e63;

  --color-success-50:  #f0fdf4;
  --color-success-700: #15803d;
  --color-success-900: #14532d;
}
